<phpunit
	convertErrorsToExceptions   = "true"
	convertNoticesToExceptions  = "true"
	convertWarningsToExceptions = "true"
	bootstrap                   = "vendor/autoload.php">
	<testsuites>
        <testsuite name="Fias Tests">
            <directory>tests</directory>
        </testsuite>
	</testsuites>
</phpunit>
