<?php

return array(
    'wsdl_url'       => 'http://fias.nalog.ru/WebServices/Public/DownloadService.asmx?WSDL',
    'file_directory' => '/var/www/upload',
    'database'       => array(
        'adapter'  => 'pgsql',
        'host'     => '127.0.0.1',
        'port'     => '5432',
        'database' => 'fias',
        'user'     => 'postgres',
        'password' => '1',
    ),
	'import'         => array(
		'address_objects' => array(
			'node_name' => 'Object',
			'fields'  => array(
				'AOGUID'     => 'id',
				'PARENTGUID' => 'parent_id',
				'FORMALNAME' => 'title',
				'OFFNAME'    => 'official_title',
				'POSTALCODE' => 'postal_code',
				'SHORTNAME'  => 'prefix',
			),
			'filters' => array(
				'ACTSTATUS' => 1,
			),
		),
	),
);
