<?php

return array(
    'wsdl_url'       => 'http://fias.nalog.ru/WebServices/Public/DownloadService.asmx?WSDL',
    'file_directory' => '/var/www/upload',
    'database'       => array(
        'adapter'  => 'pgsql',
        'host'     => '127.0.0.1',
        'port'     => '5432',
        'database' => 'fias',
        'user'     => 'postgres',
        'password' => '1',
    ),
    'import'         => array(
        'address_objects'      => array(
            'node_name' => 'Object',
            'fields'    => array(
                'AOID'       => 'id',
                'AOGUID'     => 'guid',
                'PARENTGUID' => 'parent_id',
                'FORMALNAME' => 'title',
                'POSTALCODE' => 'postal_code',
                'SHORTNAME'  => 'prefix',
            ),
            'filters'   => array(
                'ACTSTATUS' => 1,
            ),
        ),
        'pure_address_objects' => array(
            'node_name' => 'Object',
            'fields'    => array(
                'AOGUID'     => 'AOGUID',
                'FORMALNAME' => 'FORMALNAME',
                'REGIONCODE' => 'REGIONCODE',
                'AUTOCODE'   => 'AUTOCODE',
                'AREACODE'   => 'AREACODE',
                'CITYCODE'   => 'CITYCODE',
                'CTARCODE'   => 'CTARCODE',
                'PLACECODE'  => 'PLACECODE',
                'STREETCODE' => 'STREETCODE',
                'EXTRCODE'   => 'EXTRCODE',
                'SEXTCODE'   => 'SEXTCODE',
                'OFFNAME'    => 'OFFNAME',
                'POSTALCODE' => 'POSTALCODE',
                'IFNSFL'     => 'IFNSFL',
                'TERRIFNSUL' => 'TERRIFNSUL',
                'OKATO'      => 'OKATO',
                'OKTMO'      => 'OKTMO',
                'UPDATEDATE' => 'UPDATEDATE',
                'SHORTNAME'  => 'SHORTNAME',
                'AOLEVEL'    => 'AOLEVEL',
                'PARENTGUID' => 'PARENTGUID',
                'AOID'       => 'AOID',
                'PREVID'     => 'PREVID',
                'NEXTID'     => 'NEXTID',
                'CODE'       => 'CODE',
                'PLAINCODE'  => 'PLAINCODE',
                'ACTSTATUS'  => 'ACTSTATUS',
                'CENTSTATUS' => 'CENTSTATUS',
                'OPERSTATUS' => 'OPERSTATUS',
                'CURRSTATUS' => 'CURRSTATUS',
                'STARTDATE'  => 'STARTDATE',
                'ENDDATE'    => 'ENDDATE',
                'NORMDOC'    => 'NORMDOC',
            ),
        ),
    ),
);
